<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            padding: 0%;
            margin: 0%;
        }
        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: rgb(207, 207, 211);
            padding: 10px 50px;
        }

    </style>
</head>
<body>
    <header>
        <h2>MY website</h2>
        <ul>
        <li><a href="/home">home</a></li>
        <li><a href="/about">jadwal</a></li>
        <li><a href="/product">data diri</a></li>
        <li><a href="/home">home</a></li>
        </ul>
    </header>
    <center>
    <h2>My Website pertama</h2>
    <a>My Website adalah website buatan pertama saya</a>
    </center>
</body>
</html>